<div class="shell">
  <mat-toolbar class="topbar">
    <button mat-icon-button class="menu-btn" (click)="mobileOpened.set(!mobileOpened())" *ngIf="isMobile()">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-icon class="brand-icon">local_shipping</mat-icon>
    <span class="title">Logística · Beneficencia de Lima</span>
    <span class="spacer"></span>

    <div class="user-box">
      <div class="avatar">{{ (user()?.fullName ?? '?').charAt(0) | uppercase }}</div>
      <div class="meta">
        <span class="name">{{ user()?.fullName }}</span>
        <span class="role">{{ role() | titlecase }}</span>
      </div>
    </div>
    <button mat-button class="logout-btn" (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Salir</span>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="rest">
    <mat-sidenav
      #drawer
      [mode]="isMobile() ? 'over' : 'side'"
      [opened]="!isMobile() || mobileOpened()"
      class="sidenav"
    >
      <div class="brand">
        <div class="logo"><mat-icon>local_shipping</mat-icon></div>
        <div>
          <div class="name">Beneficencia de Lima</div>
          <div class="sub">Módulo de Logística</div>
        </div>
      </div>

      <mat-list>
        @for (item of navItems(); track item.link) {
          <mat-list-item
            class="nav-item"
            [routerLink]="item.link"
            routerLinkActive="active"
            (click)="goTo(item.link)"
          >
            <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
            <span matListItemTitle>{{ item.label }}</span>
          </mat-list-item>
        }
      </mat-list>
    </mat-sidenav>

    <mat-sidenav-content class="content">
      <div class="content-inner">
        <router-outlet />
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
